<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectToPort8000" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="^80$" />
          </conditions>
          <action type="Redirect" url="http://www.she896.shop:8000/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
