@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --white: #fcfcfc;
  --black: #252525;
  
  --purple: #cf07fb;
  --purple-gradient:  linear-gradient(to top,  #9733EE, #cf07fb); 
  
  /*--green: #49e691; */
  --green: #36e77e;
  --green-gradient: linear-gradient(to top, #061700, #49e691); 
}

body {
  
  color:#fcfcfc;

  
 
}
.containerbox {
  display: flex;
  flex-direction: column;
  align-items: center; /* 將子元素水平置中 */
  justify-content: center; /* 將子元素垂直置中 */
  height: 100vh; /* 使用視窗高度作為容器的高度 */
}

h1 {
  text-align: center;
  margin: 2rem auto;
}

.box {
  background:linear-gradient(-45deg, #cdd4cf, #848891);
  color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  margin: 2rem;
  border-radius: 100px;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  transform: translateX(150%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 36px;
}

