@charset "utf-8";
/* CSS Document */

/*---------------------
  Testimonial
-----------------------*/

.testimonial {
	background: #f3f2ee;
}

.testimonial__text {
	text-align: center;
	padding: 130px 150px 175px;
}

.testimonial__text span {
	color: #e53637;
	font-size: 72px;
}

.testimonial__text p {
	color: #111111;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
	padding-top: 12px;
	margin-bottom: 25px;
}

.testimonial__author {
	display: inline-block;
}

.testimonial__author__pic {
	float: left;
	margin-right: 20px;
}

.testimonial__author__pic img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.testimonial__author__text {
	overflow: hidden;
	padding-top: 3px;
}

.testimonial__author__text h5 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 5px;
}

.testimonial__author__text p {
	color: #b7b7b7;
	margin-bottom: 0 !important;
	padding-top: 0;
}

.testimonial__pic {
	height: 600px;
} 

.testimonial__text {
		padding: 100px 105px 100px;
	}
.btnteacher {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.sonar-btn2 {
  position: relative;
  z-index: 1;
  min-width: 160px;
  height: 40px;
  border: 3px solid;
  border-color: #2f2f2f;
  text-transform: uppercase;
  color: #2f2f2f;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 6;
  line-height: 32px;
  padding: 0;
  background-color: #b4b5b5; }
