<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>莊小寬數學_選購課程</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
	   <!-- Favicon  -->
    <link rel="icon" href="photos/logo-removebg-.png">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->


    <!-- ***** Main Menu Area Start ***** -->
    <div class="mainMenu d-flex align-items-center justify-content-between">
        <!-- Close Icon -->
        <div class="closeIcon">
            <i class="ti-close" aria-hidden="true"></i>
        </div>
        <!-- Logo Area -->
        <div class="logo-area">
            <a href="index.html"></a>
        </div>
               <!-- Nav -->
        <div class="sonarNav wow fadeInUp" data-wow-delay="0.1s">
            <nav>
                <ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">首頁</a>
						
                    </li>
                    
					<li class="nav-item">
                        <botton class="nav-link" id="toggleMenu">關於我們</botton>
						<div id="menu" style="display: none;">
                    <ul>
                        <li><a href="team.html" class="nav-link" style="color:#ddb998">教師資歷</a></li>
                        <li><a href="mission.html" class="nav-link" style="color:#ddb998">課程特色</a></li>
                       <li><a href="history.html" class="nav-link" style="color:#ddb998">學員感言</a></li>
                    </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                      <botton class="nav-link" id="toggleMenu2">課程須知</botton>
						<div id="menu2" style="display: none;">
                    <ul>
                        <li><a href="team.html" class="nav-link" style="color:#ddb998">報名流程</a></li>
                        <li><a href="mission.html" class="nav-link" style="color:#ddb998">常見QA</a></li>
                       
                    </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="portfolio.html">免費試聽</a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="註冊帳號_登入.html">登入會員</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="註冊帳號_註冊.html">註冊帳號</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="課程頁1.html">購買課程</a>
                    </li>

                </ul>




            </nav>
        </div>
		
                       <!-- Copywrite Text -->
                <div class="copywrite-text text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                       <a>莊小寬數學</a>
                        <i class="fa" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
    <!-- ***** Main Menu Area End ***** -->
</div>
   <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="menu-area d-flex justify-content-between">
                       <!-- Logo Area  -->
                        <div class="logo-area">
							<a href="首頁_莊小寬數學.html">
                            <img src="photos/logonav.png" alt="莊小寬數學">
							</a>
                        </div>

                        <div class="menu-content-area d-flex align-items-center">
                            <!-- Header Social Area -->
                            <div class="header-social-area d-flex align-items-center">
                                
                                <a href="https://www.youtube.com/@dennis18_com" data-toggle="tooltip" data-placement="bottom" title="YT"><i class="fa" aria-hidden="true"></i>YT</a>
								
                                <a href="https://line.me/ti/p/44-5QDRsvx" data-toggle="tooltip" data-placement="bottom" title="Line"><i class="fa" aria-hidden="true"></i>LINE</a>
                                <a href="https://www.facebook.com/people/%E8%8E%8A%E5%B0%8F%E5%AF%AC%E6%95%B8%E5%AD%B8%E7%B7%9A%E4%B8%8A%E8%A3%9C%E7%BF%92%E7%8F%AD/100054881665986/?ref=pages_you_manage" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              

                            </div>
                            <!-- Menu Icon -->
                            <span class="navbar-toggler-icon" id="menuIcon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <div class="hero-area d-flex align-items-center">
        <!-- Hero Thumbnail -->
        <div class="hero-thumbnail equalize bg-img" style="background-image: url(photos/shop/top/top.png);"></div>
        <!-- Hero Content -->
        <div class="hero-content equalize">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="line"></div>
                        <h2>選購課程</h2>
                        <p>升高一銜接課程 / 科學班資優 / 高一 / 高二 / 高三進度 / 學測總複習 / 分科測驗 / 大一<br>選定課程後加入購物車即可</p>
                        <a href="#" class="btn sonar-btn white-btn">還沒有註冊嗎?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Hero Area End ***** -->

 <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
								
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">升高一銜接課程</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_升高一銜接課程.html">升高一銜接課程</a></li>
                                                    <li><a href="莊小寬數學_升高一整數.html">升高一銜接：整數</a></li>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">科學班課程</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_科學、資優創思課程.html">科學、資優創思課程</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">高一上</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                       <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                               <ul>
                                                <li><a href="莊小寬數學_邏輯集合函數.html">邏輯集合函數</a></li>
                                                    <li><a href="莊小寬數學_實數.html">實數</a></li>
                                                    <li><a href="莊小寬數學_指對數.html">指對數</a></li>
                                                    <li><a href="莊小寬數學_直線與圓.html">直線與圓</a></li>
												   <li><a href="莊小寬數學_多項式.html">多項式</a></li>
												   <li><a href="莊小寬數學_第一冊全.html">第一冊全</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
								
								<div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">高一下</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                       <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_數列級數.html">數列級數</a></li>
                                                    <li><a href="莊小寬數學_數據分析.html">數據分析</a></li>
                                                    <li><a href="莊小寬數學_排列組合與機率.html">排列組合與機率</a></li>
                                                    <li><a href="莊小寬數學_三角.html">三角</a></li>
													<li><a href="莊小寬數學_第二冊全.html">第二冊全</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
								</div>
				                 
                                
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">高二上</a>
                                    </div>
									
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_三角函數.html">三角函數</a></li>
                                                    <li><a href="莊小寬數學_指數對數函數.html">指數對數函數</a></li>
                                                    <li><a href="莊小寬數學_平面向量.html">平面向量</a></li>
                                                    <li><a href="莊小寬數學_第三冊全.html">第三冊全</a></li>
                                                </ul>
                                            </div>
                                        </div>
									</div>
                                </div>
								
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">高二下</a>
                                    </div>
									
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_空間向量.html">空間向量</a></li>
                                                    <li><a href="莊小寬數學_空間中平面與直線.html">空間中平面與直線</a></li>
                                                    <li><a href="莊小寬數學_條件機率與貝氏定理.html">條件機率與貝氏定理</a></li>
                                                    <li><a href="莊小寬數學_矩陣.html">矩陣</a></li>
													<li><a href="莊小寬數學_第四冊全.html">第四冊全</a></li>
                                                </ul>
                                            </div>
                                        </div>
									</div>
                                </div>
                                         
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseSeven">高三學測複習</a>
                                    </div>
                                    <div id="collapseSeven" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_學測複習課程.html">學測複習課程</a></li>
                                                </ul>
                                            </div>

                                         </div>
								     </div>
								 </div>
								
								<div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseEight">高三微積分</a>
                                    </div>
                                    <div id="collapseEight" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_高三微積分.html">微積分</a></li>
                                                </ul>
                                            </div>

                                         </div>
								     </div>
								 </div>
								<div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseNine">高三組合</a>
                                    </div>
                                    <div id="collapseNine" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_第五冊+第六冊全.html">組合課程</a></li>
                                                </ul>
                                            </div>

                                         </div>
								     </div>
								 </div>
								
								<div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseTen">高三分科</a>
                                    </div>
                                    <div id="collapseTen" class="collapse show" data-parent="#accordionExample">
                                        <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_高三分科複習.html">分科複習</a></li>
                                                </ul>
                                            </div>

                                         </div>
								     </div>
								 </div>
                                <div class="cardshop">
                                    <div class="cardshop-heading">
                                        <a data-toggle="collapse" data-target="#collapseZero">大一</a>
                                    </div>
                                    <div id="collapseZero" class="collapse show" data-parent="#accordionExample">
                                       <div class="cardshop-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="莊小寬數學_大一微積分.html">微積分</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				
				<!--課程內容-->
                <div id="app" class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic " data-setbg="photos/shop/course/25.png">
									<img src="photos/shop/course/25.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_學測複習課程.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>學測複習課程</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 25">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg" data-setbg="photos/shop/course/26.png">
									<img src="photos/shop/course/26.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_高三微積分.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>高三微積分</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 26">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg" data-setbg="photos/shop/course/27.png">
									<img src="photos/shop/course/27.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_第五冊+第六冊全.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>第五冊+第六冊全</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 27">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
					    <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg" data-setbg="photos/shop/course/28.png">
									<img src="photos/shop/course/28.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_高三進度.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>高三進度</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 28">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
						 <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg" data-setbg="photos/shop/course/29.png">
									<img src="photos/shop/course/29.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_高三分科複習.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>高三分科複習</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 29">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
						<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg" data-setbg="photos/shop/course/30.png">
									<img src="photos/shop/course/30.png">
                                    <ul class="product__hover">
                                        <li><a href="莊小寬數學_大一微積分.html"><img src="photos/icon/shop/eye.png" alt=""></a><span>查看更多</span></li>
                                    </ul>
                                </div>
                             <div class=" product__item__text">
                               <h6-1>大一微積分</h6-1>
                                <ul class="NT">
                                  <li  class="money" v-for="product in products" :key="product.id" v-if="product.id === 30">
			                         <div class="product-details">
                                       <span>{{ product.name }} NT${{ product.price }}</span>
		                               <span><button  class="add-cart product-list1" @click="addToCart(product)">+ 加入購物車</button></span>
			                         </div> 
                                 </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                   </div>
	<div class="cart">
      <h2>購物車</h2>
      <ul>
        <li v-for="item in cart" :key="item.id">
			<div class="product-details">
		<img :src="item.photo" alt="Product Image" style="width: 15%; height: auto;">
	    <span><h6-1>{{ item.name }} - ${{ item.price }} - 數量: {{ item.quantity }}</h6-1></span>
          <span><button @click="increaseQuantity(item)">▲</button>
          <button @click="decreaseQuantity(item)">▼</button>
          <button @click="removeFromCart(item)">刪除</button></span>
				</div>
        </li>
      </ul><br>
		<h6-1>總價: ${{ total }}</h6-1>
    </div>
	 <button @click="showCart = !showCart">購物車按鈕</button>
    <div v-show="showCart">
      <h2>已選商品</h2>
      <ul>
        <li v-for="item in cart" :key="item.id">
		   <div class="product-details">
			<span><img :src="item.photo" alt="Product Image" style="width: 18%; height: auto;"></span>
            <span><p>{{ item.name }} || ${{ item.price }}<br>||數量: {{ item.quantity }}</p><p>總價: ${{ total }}</p></span>
		   </div>
        </li>
		</ul>
    </div>
					
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
 <script src="js/shop3.js"></script>
                </div>
            </div>
        </div>
	        <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="shop1.html">1</a>
                                <a href="shop2.html">2</a>
                                <a href="shop3.html">3</a>
                                <span>...</span>
                            </div>
                        </div>
             </div>
    </section>
    <!-- Shop Section End -->


      <!-- ***** Footer Area Start ***** -->
   <footer class="footer-area" style="background-color:#000000">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 ">
                        <br><br>
                        <h4 style="color: #FFFFFF">聯繫我們</h4>
						<br>
                        <p style="color: #FFFFFF">公司名稱:莊小寬數學</p>
                        <p style="color: #FFFFFF">服務時間:週一至週日 | 14:00-23:00</p>
                        <p style="color: #FFFFFF">電子郵件 : a0911297490@gmail.com</p>
                        <p style="color: #FFFFFF">電話: 0910-651618</p>
                    </div>
                    <div class="col-md-6 ">
                        <br><br>
                        <h4 style="color: #FFFFFF">快速連結</h4>
						<br>
                    <ul>
                        <li><a style="color:#ddb998" href="首頁_莊小寬數學.html" >首頁</a></li>
                        <li><a style="color:#ddb998" href="教師資歷.html">關於我們</a></li>
                        <li><a style="color:#ddb998" href="報名流程.html">課程須知</a></li>
                        <li><a style="color:#ddb998" href="免費試聽.html">免費試聽</a></li>
						<li><a style="color:#ddb998" href="註冊帳號_登入.html">登入會員</a></li>
						<li><a style="color:#ddb998" href="註冊帳號_註冊.html">註冊帳號</a></li>
                    </ul>
                    </div>
                </div>
                <!-- Copywrite Text -->
                <div class="copywrite-text text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                       <a>莊小寬數學</a>
                        <i class="fa" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
	
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/memu.js"></script>
	<script src="js/new card.js"></script>
	<script src="js/box.js"></script>
</body>

</html>