<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>後台_課程總攬</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets/modules/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
	
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
 <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>

        </form>
 
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">莊小寬</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              
              <a href="manager.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> 個人資料
              </a>
  
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> 登出
              </a>
            </div>
          </li>
        
      </nav>
  <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="course_management.html">菜單</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="course_management.html">菜單</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">購買課程</li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>購買課程</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="new_course.html">去購買課程</a></li>
                <li><a class="nav-link" href="course_management.html">查看購物車</a></li>
              </ul>
            </li>
            <li class="menu-header">課程</li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-th-large"></i> <span>課程</span></a>
              <ul class="dropdown-menu">
				<li><a class="nav-link" href="watch_courses.html">課程總攬</a></li>
                <li><a class="nav-link" href="watch_video.html">觀看課程</a></li>
      
              </ul>
            </li>
           


                   
            <li class="menu-header">學員</li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>個人檔案</span></a>
              <ul class="dropdown-menu">
                <li><a href="後台_學員檔案.html">個人資料</a></li> 
            
              </ul>
            </li>
                
          </ul>

       </aside>
      </div>

		
		<!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>課程總攬</h1>

          </div>

          <div class="section-body">
            <h2 class="section-title">所有課程</h2>


            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>詳細資料</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>                                 
                          <tr>
                            <th>
                              課程名稱
                            </th>
                            <th>進度</th>
							<th>目前觀看時間</th>
							<th>總時長</th>
                          </tr>
                        </thead>
                        <tbody>                                 
                          <tr>
                            <td>
                              1
                            </td>
                            <td>古莙崤</td>
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
							<td><a href="#" class="btn btn-danger">刪除</a></td>
                          </tr>
                          <tr>
                            <td>
                              2
                            </td>
                            <td>李莙崤</td>
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
							<td><a href="#" class="btn btn-danger">刪除</a></td>
                          </tr>
                          <tr>
                            <td>
                              3
                            </td>
                            <td>胡莙崤</td>
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
							<td><a href="#" class="btn btn-danger">刪除</a></td>
                          </tr>
                          <tr>
                            <td>
                              4
                            </td>
                            <td >陳阿明</td>
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
							<td><a href="#" class="btn btn-danger">刪除</a></td>
                          </tr>
							<tr>
                            <td>
                              5
                            </td>
                            <td >胡莙崤</td>
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
						    <td><a href="#" class="btn btn-danger">刪除</a></td>
                          </tr>
							<tr>
                            <td>
                              6
                            </td>
                            <td >胡莙崤</td>
                            
                            <td><a href="#" class="btn btn-secondary">查看更多</a></td>
							<td><a href="#" class="btn btn-secondary-delete">刪除</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>

    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>
  <!-- JS Libraies -->
  <script src="/assets/modules/datatables/datatables.min.js"></script>
  <script src="/assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
  <script src="/assets/modules/jquery-ui/jquery-ui.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="/assets/js/page/modules-datatables.js"></script>
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>

